body {
    font-family: "Arial", "Meiryo",sans-serif;
}
.google-fonts {
    font-family: "Josefin Sans", sans-serif;
}
html {
    font-size: 20px;
}
h1 {
    font-size: 2em;
}
.text-rgb {
    /*以下はRGBで色を指定いています*/
    color: rgb(255, 192, 203);
}
.text-skyblue {
    /*以下はキーワードで色を指定してます*/
    color: skyblue;
}
body {
    text-align: center;
}
.decoration {
    text-align: center;
}
h1 {
    font-weight: 48px;
}

h1 {
    text-shadow: 3px 3px 5px gray;
}
h1 {
    border-bottom: solid 3px rgb(115, 115, 114);
}
.heading1 {
    font-weight: bold;
}
.heading2 {
    font-weight: bold;
}
.heading3 {
    font-weight: bold;
}
.decoration {
    border-bottom: solid 3px rgb(115, 115, 114);
}
h1 {
    letter-spacing: 1.2em;
}